/*
  File: global.css
  Programmer: Luis Sanchez
  Contact: luisanchezdh@gmail.com
  Date: 10/10/2024
  Version: 1.0
  Purpose: This file contains global styles for the App, including typography, colors, button styles, and responsive design adjustments for light and dark modes.

*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* Default font family */
  line-height: 1.5; /* Line height for better readability */
  font-weight: 400; /* Normal font weight */

  color-scheme: light dark; /* Support for light and dark color schemes */
  color: rgba(255, 255, 255, 0.87); /* Default text color */
  background-color: #242424; /* Dark background color */

  font-synthesis: none; /* Prevent synthetic font styles */
  text-rendering: optimizeLegibility; /* Enhance text rendering for better legibility */
  -webkit-font-smoothing: antialiased; /* Smooth text rendering on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth text rendering on macOS */
}

a {
  font-weight: 500; /* Medium font weight for links */
  color: #646cff; /* Default link color */
  text-decoration: inherit; /* Inherit text decoration from parent elements */
}

a:hover {
  color: #535bf2; /* Link color on hover */
}

body {
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox for layout */
  place-items: center; /* Center items both horizontally and vertically */
  min-width: 320px; /* Minimum width for responsive design */
  min-height: 100vh; /* Minimum height to cover the viewport */
}

h1 {
  font-size: 3.2em; /* Font size for main headings */
  line-height: 1.1; /* Line height for headings */
}

button {
  border-radius: 8px; /* Rounded corners for buttons */
  border: 1px solid transparent; /* No border by default */
  padding: 0.6em 1.2em; /* Padding for button size */
  font-size: 1em; /* Font size for buttons */
  font-weight: 500; /* Medium font weight for buttons */
  font-family: inherit; /* Inherit font family from root */
  background-color: #1a1a1a; /* Dark background color for buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: border-color 0.25s; /* Smooth transition for border color */
}

button:hover {
  border-color: #646cff; /* Change border color on hover */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Outline for focused buttons */
}

/* Media query for light color scheme 
